a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input,
select,
textarea {
    -o-transition: var(--transition);
    transition: var(--transition);
    -webkit-transition: var(--transition);
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

a,
button {
    outline: none !important;
    box-shadow: none !important;
}

body {
    background: var(--color-body);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--color-dark);
}

.header {
    position: relative;
    z-index: 10;
    background: var(--white);
    border-bottom: 1px solid rgba(102, 102, 102, .5);
    box-shadow: rgb(149 157 165 / 12%) 0 8px 24px;
}

.header .header-top {
    position: relative;
    z-index: 2;
    background: var(--color-body);
}

.header .header-top .header-top_logo .header-top_logo__image {
    height: 42px;
    width: auto;
    max-width: 100%;
}

.header .header-top .header-top_user .header-top_user__item {
    position: relative;
    font-size: 14px;
}

.header .header-top .header-top_user .header-top_user__item > .btn {
    margin: 10px 0 10px 15px;
    border-radius: 8px 5px 8px 0;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-size: .95em;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--primary-color);
}

.header .header-top .header-top_user .header-top_user__item > .btn-login {
    background: var(--primary-color);
    color: var(--white);
}

.header .header-top .header-top_user .header-top_user__item > .btn-register {
    color: var(--color-dark-gray);
    border-color: var(--color-dark-gray);
    background: var(--white);
}

.header .header-top .header-top_user .header-top_user__item > .btn:hover,
.header .header-top .header-top_user .header-top_user__item > .btn:active {
    color: var(--white);
    background: var(--primary-hover);
    border-color: var(--primary-hover);
}

.header .header-top .header-top_user .header-top_user__item > .btn > .btn-arrow {
    transition: var(--transition);
    font-size: 1.3em;
}

.header .header-top .header-top_user .header-top_user__item > .btn > .btn-arrow:before {
    line-height: 0;
    display: block;
}

.header .header-top .header-top_user .header-top_user__item:hover > .btn > .btn-arrow {
    transform: rotate(180deg);
}

.header .header-top .header-top_user .header-top_user__item > ul {
    position: absolute;
    background: var(--white);
    top: calc(100% + 40px);
    right: 0;
    transition: var(--transition);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    border: 1px solid var(--color-border);
    border-top: 2px solid var(--primary-color);
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 3px 3px 5px rgb(0 0 0 / 10%);
    box-shadow: 3px 3px 5px rgb(0 0 0 / 10%);
    min-width: 200px;
}

.header .header-top .header-top_user .header-top_user__item > ul > li + li {
    border-top: 1px solid var(--color-border);
}

.header .header-top .header-top_user .header-top_user__item > ul > li > a {
    display: block;
    font-size: .95rem;
    color: var(--color-dark);
    padding: 12px 10px;
}

.header .header-top .header-top_user .header-top_user__item > ul > li:hover > a,
.header .header-top .header-top_user .header-top_user__item > ul > li:active > a {
    color: var(--primary-color);
    background: var(--color-body);
}

.header .header-top .header-top_user .header-top_user__item > ul:before,
.header .header-top .header-top_user .header-top_user__item > ul:after {
    content: "";
    display: block;
    position: absolute;
    font-size: 1.4em;
    width: 0;
    height: 0;
    pointer-events: none;
    top: -10px;
    right: 10px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.header .header-top .header-top_user .header-top_user__item > ul:before {
    border-bottom: 10px solid var(--primary-color);
}

.header .header-top .header-top_user .header-top_user__item > ul:after {
    border-bottom: 10px solid var(--primary-color);
}

.header .header-top .header-top_user .header-top_user__item:hover > ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1;
}